
body {
    background: white;
    font-family: Georgia;
}


h1 {
    font-family: Helvetica, Arial;
    font-size: 24px;
}

p {
    margin: 0;
    text-indent: 1.3em;
    line-height: 1.3em;
    hyphens: auto;
}

p.initial {
    margin-top: 1em;
    text-indent: 0;
}

